{% extends "base.html" %}


{% block main %}
    {% load staticfiles %}
      <p id="breadcrumb">شما این جا هستید: <a href="#" title="kurthelectronic.com">مقایسه محصولات</a></p>
      <div id="maincontent" class="clearfix"><!--TYPO3SEARCH_begin--><h2>مقایسه محصولات</h2><p><strong></strong>
</p>

      <table id="t01" style="font-size: 1.8em">
          <tr>
              <th>شکل محصول</th>
              <th>نام محصول</th>
              <th>توضیحات</th>
              <th>قیمت</th>
          </tr>

      <tr>
          <td><img src= "{{current.image.url}}"   width="87" height="74" border="0" alt="" /></td>
    <td>{{ current.name }}</td>
  <td>{{ current.description }}</td>
  <td>{{ current.price }}</td>
      </tr>
          {% for product in compare %}
  <tr>
<td><img src= "{{product.image.url}}"   width="87" height="74" border="0" alt="" /></td>
    <td>{{ product.name }}</td>
  <td>{{ product.description }}</td>
  <td>{{ product.price }}</td>
  </tr>
 {% endfor %}

</table>


</div>
{% endblock %}