{% extends "base.html" %}


{% block main %}
    {% load staticfiles %}
      <p id="breadcrumb">شما این جا هستید: <a href="#" title="kurthelectronic.com">توضیحات بیشتر</a></p>
      <div id="maincontent" class="clearfix"><!--TYPO3SEARCH_begin--><h2>{{ product.name }}</h2><p><strong></strong>
</p>

          <p>
      <img src="{{ product.image.url }}" width="400" height="300" border="0" alt="" style="margin-right: 200px"/>
      <br/>
          <p>

          {{ product.complete_des }}
      </p>
        <br/>
      <a href="/persian_home/choose_compare/{{ product.id }}" ><button class="button_free">
            جدول مقایسه
      </button>
          </a>
      </p>
</div>
{% endblock %}