{% extends "base.html" %}
{% block script %}
<script type="text/javascript">
/*<![CDATA[*/
/*45bbff8793c1a69bcbfc8c0b9efb39c2*/
jQuery.noConflict();jQuery(document).ready(function($) {
	$('#jfmulticontent_c1467').anythingSlider({
		easing: 'swing', animationTime: 2000, autoPlay: true, toggleArrows: false, toggleControls: false, resizeContents: true, theme: 'kurthelectronic', mode: 'horizontal', buildArrows: true, allowRapidChange: false, resumeOnVideoEnd: false, playRtl: false, hashTags: false, pauseOnHover: true, buildNavigation: false, buildStartStop: false, startText: '', stopText: '',           delay: 4000,
          resumeDelay: 4000
	});
});

/*]]>*/
</script>

{% endblock %}

{% block where %}
<p id="breadcrumb">شما این جا هستید: <a href="#" title="kurthelectronic.com">خانه</a></p>
{% endblock %}
{% block slider %}


 <div id="slider" class="clearfix"><div class="tx-jfmulticontent-pi1">

<ul id="jfmulticontent_c1467">

	<li>
		<div class="csc-textpic csc-textpic-center csc-textpic-above"><div class="csc-textpic-imagewrap csc-textpic-single-image" style="width:900px;"><a href="xdsl-multitester-anwenderbericht.html" target="_self"><img src="http://www.kurthelectronic.de/typo3temp/pics/slider-Anwenderbericht-deutsch_25895eb5af.jpg" width="900" height="348" alt="" /></a></div></div><div class="csc-textpic-clear"><!-- --></div>
	</li>

	<li>
		<div class="csc-textpic csc-textpic-center csc-textpic-above"><div class="csc-textpic-imagewrap csc-textpic-single-image" style="width:900px;"><img src="http://www.kurthelectronic.de/typo3temp/pics/slider-Leserwahl-2014-deutsch_03_c60f5c78e2.jpg" width="900" height="348" alt="" /></div></div><div class="csc-textpic-clear"><!-- --></div>
	</li>

	<li>
		<div class="csc-textpic csc-textpic-center csc-textpic-above"><div class="csc-textpic-imagewrap csc-textpic-single-image" style="width:900px;"><a href="xdsl-multitester-fuer-vdsl-vectoring.html" target="_self"><img src="http://www.kurthelectronic.de/typo3temp/pics/slider-xDSL-Multitest-de_75fb662663.jpg" width="900" height="348" alt="" /></a></div></div><div class="csc-textpic-clear"><!-- --></div>
	</li>

	<li>
		<div class="csc-textpic csc-textpic-center csc-textpic-above"><div class="csc-textpic-imagewrap csc-textpic-single-image" style="width:900px;"><a href="pruef-und-messgeraete/kabelfehler-messgeraete.html" target="_self"><img src="http://www.kurthelectronic.de/typo3temp/pics/slider-KE2500-KE2800-de_0ed28d3c87.jpg" width="900" height="348" alt="" /></a></div></div><div class="csc-textpic-clear"><!-- --></div>
	</li>

	<li>
		<div class="csc-textpic csc-textpic-center csc-textpic-above"><div class="csc-textpic-imagewrap csc-textpic-single-image" style="width:900px;"><a href="pruef-und-messgeraete/lwl-tester.html" target="_self"><img src="http://www.kurthelectronic.de/typo3temp/pics/slider-KE80xx-de_903729e785.jpg" width="900" height="348" alt="" /></a></div></div><div class="csc-textpic-clear"><!-- --></div>
	</li>

	<li>
		<div class="csc-textpic csc-textpic-center csc-textpic-above"><div class="csc-textpic-imagewrap csc-textpic-single-image" style="width:900px;"><a href="pruef-und-messgeraete/lan-ethernet-tester/ke7500-gigatest-dual-port-tester.html" target="_self"><img src="http://www.kurthelectronic.de/typo3temp/pics/slider-KE7500-de_c7669eb981.jpg" width="900" height="348" alt="" /></a></div></div><div class="csc-textpic-clear"><!-- --></div>
	</li>

</ul>

	</div>
	</div>
{% endblock %}
{% block main %}
      <div id="maincontent" class="clearfix"><!--TYPO3SEARCH_begin--><h2>صفحه در دست ساخت است</h2><p><strong></strong>
</p>
<p>هنوز محتوایی برای این صفحه آماده نشده است</p>
<p></p>
          {% load staticfiles %}
<p><a href="http://www.kurthelectronic.de/" target="_self"><img src= "{% static "image/UnderConstruction.png"%}" style="CURSOR: move" height="230" width="700" alt="" /></a>
</p>
<p><strong></strong>
</p>
<p><strong><a href="http://www.kurthelectronic.de/" target="_self"></a></strong>
</p>
<p> </p><h1></h1><div class="csc-textpic-text"><p> <a href="http://www.kurthelectronic.com/fileadmin/user_upload/downloads/USA/Kurth-Program-2015-16-en.pdf"></a>
</p>
<p><a href="http://www.kurthelectronic.com/fileadmin/user_upload/downloads/USA/Kurth-Program-2014-usa.pdf"> </a></p></div><!--TYPO3SEARCH_end--></div>
    </div>
    <div id="footer"><p>TESTING &#183; VERIFYING &#183; SAVE EXPENSES<br /><a href="http://www.kurthelectronic.com/">Kurth Electronic Inc.</a>&#160;&#183; P.O. Box 1377 &#183; Sparta, NJ 07871<br /><a href="http://www.kurthelectronic.com/about-kurth-electronic/kurth-electronic.html">Kurth Electronic</a>&#160;-&#160;<a href="http://www.kurthelectronic.com/fileadmin/user_upload/downloads/agb.pdf">Terms and Conditions</a>&#160;-&#160;<a href="http://www.kurthelectronic.com/about-kurth-electronic/privacy.html">Privacy</a></p></div>


{% endblock %}


</body>
</html>