{% extends "base.html" %}


{% block main %}
    {% load staticfiles %}
      <p id="breadcrumb">شما این جا هستید: <a href="#" title="kurthelectronic.com">پنتیجه پرداخت</a></p>
      <div id="maincontent" class="clearfix"><!--TYPO3SEARCH_begin--><h2>نتیجه پرداخت</h2><p><strong></strong>
</p>

      <p><strong>نتیجه پرداخت شما:</strong>
      {{ order.state_pay }}
</p>
 <p>
     {% if order.code != 0  %}
       <strong>کد پیگیری:</strong>
          {{ order.code }}
     {% endif %}
      </p>
</div>
{% endblock %}