{% extends "base.html" %}

{% block main %}


             <p id="breadcrumb">شما این جا هستید: <a href="#" title="kurthelectronic.com">چک قیمت محصول</a></p>
      <div id="maincontent" class="clearfix"><!--TYPO3SEARCH_begin--><h2>چک قیمت </h2><p><strong></strong>
</p>


         <form  role="form" action="/persian_home/save_inf/" method="post" dir="rtl"> {% csrf_token %}
        {% for field in form %}
            <div class="fieldWrapper">
                {{ field.label_tag }} {{ field }}
                {{ field.errors }}
            </div>
        {%  endfor %}
        <input type="hidden" value="{{ product.id }}" name="product_id"/>
         <input  value="تایید اطلاعات" type="submit" class="button"  />

    </form>

</div>
{% endblock %}